input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.side-bar {
  background-color: #4E4CF8;
}

.not-active {
  background-color: #5753F2;
}
